<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Strong Ties</title>
    <meta
      name="description"
      content="An app that will be in your bookmarks once you click this link
so click cautiously"
    />
    <script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="assets/css/chat.css">
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>

  <body style="max-width: 100%;">
    <div id="mySidenav" class="sidenav">
      <div class="msgheader">
        <div style="display: flex; flex-flow: row nowrap;" >
          <h1 style="top: 0px;">Family</h1>
        <% for( let i = 0; i < users.length; i++ ) { %>
          <img class='avatar' src="<%= users[i].avatar %>">
          
        <% } %>
        </div>
        
        <p style="font-size: 60px;" >&times;</p>
      </div>
        <div id="messages">
    
        </div>
        <div class="msgbar">
          <input type="hidden" id="name" value="<%= user.avatar %> " >
            <textarea id = "message" placeholder="Your Message Here"></textarea>
            <button id="send"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>


<button id="fixed" style="width: 80px; height: 80px;" onclick="openNav(this)" ><i class="fas fa-comments"></i></button>

    <div id="main" >
      <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="/gallery" class="logo"><img width="70px" height="70px" src="assets/img/family-love-logo-template_5586-71.jpg" alt=""> Strong Ties</a>
        <ul class="main-nav" id="js-menu">
    
            
                <li><a class="nav-links" href="gallery">Gallery&nbsp;<i class="far fa-images"></i></a></li>
                <li><a class="nav-links" href="calendar">Calendar&nbsp;<i class="fa fa-calendar"></i></a></li>
                <li><a class="nav-links" href="list">Lists&nbsp;<i class="fa fa-th-list"></i></a></li>
                
                <li><a class="nav-links" href="budget">Budget&nbsp;<i class="fas fa-money-bill-wave"></i></a></li>
                <li><a class="nav-links" href="Funtime">Funtime&nbsp;<i class="fas fa-gamepad"></i></i></a></li>
                <li><a class="nav-links" href="logout">LogOut&nbsp;<i class="fa fa-sign-out"></i></a></li>
                <li>
                    <a class="nav-links profile" href="profile"><%= user.name %> <img src="<%= user.avatar %>" style="border-radius: 50%; width: 15px; height: 15px; border: 2px solid #ee2b7a; "  alt=""></a>
                </li>      
        </ul>
    </nav>
  
      <div class="controls">
        <button onclick="left()">
          <i class="fas fa-caret-square-left"></i>&nbsp;
        </button>
        <h1 id="displaye"></h1>
        <h1 id="displaym"></h1>
        <button onclick="right()">
          &nbsp;<i class="fas fa-caret-square-right"></i>
        </button>
      </div>
  
      <div class="tablex">
        <table class="cal" width="400px">
          <thead>
            <tr>
              <th>S</th>
              <th>M</th>
              <th>T</th>
              <th>W</th>
              <th>T</th>
              <th>F</th>
              <th>S</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
              <td class="date">&nbsp;&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" onclick="clos()">&times;</span>
          <div class="form-title">New Event</div>
          <form class="signup" method="post" action="newevent">
            <div class="form-body">
              <div class="row">
                <input id="in" type="text" name="event" placeholder="Event name here" />
              </div>
              <br />
              <div class="row">
                <input id="in" type="date" name="date" class="modc" placeholder="s" />
              </div>
            </div>
  
            <br />
            <div class="rule"></div>
  
            <button class="sub">Submit</button>
          </form>
          <table>
            <tbody class="modal-con" >
              
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/chat.js"></script>
    <script
      src="https://kit.fontawesome.com/c5b9bcd338.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
