<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry kid</title>
    <link rel="stylesheet" href="assets\css\styles.css">
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    
<div style="display: flex; justify-content: center; flex-direction: column;">
    <img src="assets/img/nre.jpg" style="border-radius: 10px;" alt=""><a style="text-align: center;" href="/gallery"><br><button class="bav" style="font-size: 25px; padding: 10px; border-radius: 10px; color: #ee2b7e; background-color: white; font-weight: 700;">Go to Gallery</button></a>

</div>
</body>
</html>