<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strong Ties</title>
</head>
<body>
    <style>
        body{
            background-color: blanchedalmond;
        }
        *{
            margin: 0;
            padding: 0;
        }
        #container{
            max-width: 100%;
            width: 100vw;
            height: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            background-color: black;
        }
        h1{
            color: #ee2b7a;
            font-size: 60px;
            text-align: left;
        }
        #sym{
            font-size: 120px;
        }
        p{
            font-size: 40px;
            text-align: center;
            color: #ee2b7a;
        }
        button{
            width: 200px;
    margin-top: 40px;
height: 40px;
color: white;
font-weight: 900;
font-size: 20px;
font-family: 'Courgette', cursive;
background-color: #ee2b7a;
border-radius: 10px;
border: none;
transition: 1s;
        }
    </style>
    <div id="container">
        <h1 id="sym">😉</h1>
        <div style="height: 10vh;"></div>
        <h1>Invalid Type</h1>
        
    </div>
    <div style="text-align: center;">
        <p>We need your details in order to serve you <br> the best service any app can provide <br> Be a dear and login</p>
    <br>
    <a href="login"><button>Login</button></a>
    <a href="/"><button>Home</button></a>
    </div>
    
</body>
</html>