<!DOCTYPE html>
<html style="scroll-behavior: smooth;" >

<head  >
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Strong Ties</title>
    <meta name="description" content="An app that will be in your bookmarks once you click this link
so click cautiously">
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Unkempt:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body style="max-width: 100%;">
 
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="/gallery" class="logo"><img width="70px" height="70px" src="assets/img/family-love-logo-template_5586-71.jpg" alt=""> Strong Ties</a>
    <ul class="main-nav" id="js-menu">

        
            <li><a class="nav-links" href="login">Login&nbsp;<i class="fa fa-sign-in"></i></a></li>
            
    </ul>
</nav>
    <div class="greet" style="height: 100vh;" >
        <h1 style="font-family: 'Unkempt', cursive;" >Welcome to Strong Ties</h1>
        <p style="font-family: 'Oleo Script Swash Caps', cursive;">Greatest app at the service of a Greatest family</p>
        <br><br>
        <a href="#end"><div class="arrow">
          <span></span>
          <span></span>
          <span></span>

</div></div></a>
    </div>
    <div id="#features" style="height: 10vh;">
        <h1 style="font-family: 'Oleo Script Swash Caps', cursive; background-color: white; color: #ee2b7a;" class="feat">Features that make our app first in class</h1>
        <div class="fbox" >
            
            
        
            
            
          
        
            
          </div>
    </div>
    <div id="end"></div>
   
<div class="modale">
        <!-- Modal content -->
        <div class="mods" style="border-radius: 10px; text-align: center;">
          <h1 class="heading" >Moments together</h1>
          <h1>A gallery to store and cherish <br> all those happy and sweet moments <br> you lot happend to spen together</h1>  
            
        </div>  
                
                <img class="card" src="assets/img/gallery.svg" alt="">
               
 </div>
      <div class="modale">

                <img class="card" src="assets/img/calendar.svg" alt="">
        <!-- Modal content -->
        <div class="mods" style="border-radius: 10px; text-align: center;">
        <h1 class="heading"> Shared Calendar</h1>
          <h1>A Calendar to plan and schedule <br> the events most dear to your family</h1> 

        </div>
      
                
            
      </div>
      <div class="modale">
        <!-- Modal content -->
        <div class="mods" style="border-radius: 10px; text-align: center;">
          <h1 class="heading">Chat</h1>
          <h1>Stay connected to your dear ones <br> all the time without the danger of those <br> whatsapp forwards </h1>         
        </div>
      
                
                <img class="card" src="assets/img/chat.svg" alt="">
            
      </div>
      <div class="modale">
        <!-- Modal content -->
                
                <img class="card" src="assets/img/wallet.svg" alt="">
        <div class="mods" style="border-radius: 10px; text-align: center;">
          <h1 class="heading">Budget Management</h1>
          <h1>A neat tool to  <br> organise your earnings and spends  <br> Now you know whats eating your pockets </h1>         
        </div>
        
            
      
      </div>
      <div class="modale">
        <!-- Modal content -->
        <div class="mods" style="border-radius: 10px; text-align: center;">
          <h1 class="heading">Shopping List</h1>
          <h1>Never forget to buy that thing your kid <br> has been pestering you for weeks again? <br> Strong ties to your rescue</h1>   
        </div>
          
                
                <img class="card" src="assets/img/list.svg" alt="">
            
      </div>
      <div class="modale">
        <!-- Modal content --><img class="card" src="assets/img/fun.svg" alt="">
        <div class="mods" style="border-radius: 10px; text-align: center;">
          <h1 class="heading"> Fun Tools </h1>
          <h1>And lot of other tools to make you life <br> a lot easier than it already is <br> Have fun with Strong Ties </h1>
        </div>
      </div>
    <script>let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");
        navBarToggle.addEventListener("click", function() {
          mainNav.classList.toggle("active");
        });</script>
    <script src="https://kit.fontawesome.com/c5b9bcd338.js" crossorigin="anonymous"></script>
</body>
</html>