<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Strong Ties</title>
    <meta name="description" content="An app that will be in your bookmarks once you click this link so click cautiously">
    <link rel="stylesheet" href="assets/css/login.css">
</head>

<body>
    <div class="box" >
        <form method="post" action="/home">
            <div class=brand><img class="logo" src="assets/img/family-love-logo-template_5586-71.jpg" >
                <h1 class="name" >Strong Ties</h1>
            </div>
            <input type="email" name="email" placeholder="Email">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <button class="btn btn-primary btn-block" type="submit" >Log In</button>
        </form>
        <a class="new" href="signup">Don't have an account?Create one</a>
        </div>
    </div>
</body>

</html>