
*{
  -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ee2b7a; 
    border-radius: 10px;
  }
  h1{
      margin: 0;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: pink; 
  }
  .avatar{
      border: white solid 2px;
      width: 30px;
      margin: 0;
      height: auto;
      border-radius: 50%;
  }
  .chat{
      background-color: pink;
      align-self: flex-start;
      width: 50%;
      border-radius: 10px;
      
      color: white;
      text-transform: capitalize;
      
      padding: 5px;
    margin: 5px;
    text-align: left;
    font-size: 25px;
  }
  .chatme{
    
    background-color: #ee2b7a;
    align-self: flex-end;
    width: 50%;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    padding: 5px;
    margin: 5px;
    text-align: right;
    font-size: 25px;
  }
  #messages{
      display: flex;
      min-height: 70vh;
      flex-direction: column;  
      overflow-y: scroll;    
      background-color: white;
  }
  .msgbar{
      background-color: #ee2b7a;
      padding: 10px;
      display: flex;
    flex-direction: row;
    justify-self: flex-end;
    color: rgb(238, 255, 0);
    flex-shrink: 1;
  }
  .msgheader{
    background-color: #ee2b7a;
    padding: 10px;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  border: white 10px solid;
  flex-grow: 0;
  flex-shrink: 1;
  }
  #send{
      width: 45px;
      height: 45px;
      font-size: 25px;
      border-radius: 50%;
      margin-left: 10px;
      background-color: white;
      border: none;
  }
  #message{
    height: 45px;
    resize: none;
    width: 90%;
    font-size: 35px;
}
#fixed{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: ivory;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: #ee2b7a;
}
.sidenav {
    height: 100%;
    width: 0;
    border: ivory 2px solid;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ee2b7a;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
  }